.about {
    position: relative;
    overflow: hidden;

    .section-hero {
        h1.heading,
        p {
            color: $white;
        }
        .hero-welcome {
            @extend %hero-img;
        }
    }
    .section-content {
        transition: all .1s ease-in;
    }
    html.sticky & {
        .about-main {
            
        }
    }
}


/*.about {
    position: relative;
    overflow: hidden;
    min-height: calc(100vh - 505px);
    padding: 40px 0;
    @include media('<=740px') {
        padding: 20px 0;
    }
    .sidenav {
        display: block;
        width: 25%;
        float: left;
        padding-top: 20px;
        position: relative;
        @include media('<=740px') {
            width: 100%;
            float: none;
            padding-top: 0;
        }
        &.is-expanded {
            .dac-visible-mobile-block {
                .dac-toggle-expand {
                    display: none;
                }
                .dac-toggle-collapse {
                    display: inline-block;
                }
            }
            .main-nav {
                max-height: none;
            }
        }
        .dac-visible-mobile-block {
            display: none;
            @include media('<=740px') {
                display: block !important;
            }
            .dac-toggle-expand {
                cursor: pointer;
                display: inline-block;
            }
            .dac-toggle-collapse {
                cursor: pointer;
                display: none;
            }
            .dac-devdoc-toggle {
                cursor: pointer;
                background: #fafafa;
                margin-left: 35%;
                padding: 4px 10px;
            }
        }
        .main-nav {
            @include media('<=740px') {
                width: 100%;
                max-height: 0;
            }
            clear: left;
            overflow: hidden;
            -webkit-transition: .3s max-height;
            transition: .3s max-height; 
            a {
                display: block;
                font-size: 16px;
                position: relative;
                padding: 10px;
                font-weight: 300;
                color: #576A9E;
                -webkit-transition: color .1s ease-in, background .1s ease-in, border .1s ease-in;
                transition: color .1s ease-in, background .1s ease-in, border .1s ease-in;
                &:hover {
                    text-decoration: none;
                }
                &.active {
                    background: $alabaster;
                    width: auto;
                    font-weight: $font-weight--bold;
                    border-left: 2px solid #d3d3d3;
                }
                @include media('<=880px') {
                    font-size: 14px;
                }
                @include media('>740px') {
                    max-width: 150px;
                }
            }
        }
    }
    svg.logo-icon {
        fill: $color-primary;
        width: 48px;
        height: 48px;
        &:hover {
            fill: darken($color-primary, 5%);
        }
    }
    .about-main,
    .media-main {
        height: auto;
        display: block;
        width: 75%;
        float: left;
        @include media('<=740px') {
            width: 100%;
            float: none;
        }
    }
}

section.page-container {
    @include media('<=768px') {
        html.nav-expanded & {
            left: -px2em(200px);
            right: px2em(200px);
            overflow: hidden;
            -webkit-transition: right 0.5s ease, left 0.5s ease;
            transition: right 0.5s ease, left 0.5s ease
        }
        div.about-main {
            z-index: 1;
        }
    }
}

.ipsf {
    &.section {
        text-align: left;
        padding: 20px;
        border-bottom: none;
        .section-content {
            text-align: left !important;
        }
    }
}

.text-body {
    p {
        @include text(px2em(16px), 1.5, 400, $color-primary__contrast);
        margin-bottom: 30px;
    }
}

.list-table {
    background: #f9fafa;
    padding: 0 0 10px;
    border-top: 1px solid #e8ebed;
    border-radius: 0 0 5px 5px;
    ul {
        li {
            list-style-type: none;
            small {
                display: block;
                padding: 20px 30px 20px 20px;
                border-bottom: 1px solid #edeff0;
                overflow: hidden;
                -webkit-transition-duration: 0.2s;
                transition-duration: 0.2s;
                p {
                    font-size: 14px;
                    margin-left: 10px;
                    margin-bottom: 0;
                    line-height: 1.2;
                    color: #7b8b8e;
                }
                strong {
                    font-weight: 500;
                    color: #576366;
                    font-size: 14px;
                    //overflow: hidden;
                    //text-overflow: ellipsis;
                    //white-space: nowrap;
                    display: block;
                    line-height: 1.2;
                }
                icon {
                    float: left;
                    margin: -7px 0 -7px -65px;
                }
            }
        }
    }
}
*/
