%accent-button {
    background-color: $color-accent;
    color: white;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0px;
    border-width: 0px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 100%;
    border-radius: 5px;
    height: 44px;
    &:hover {
        background: #26A69A;
   }
}

%hero-img {
    .hero-image {
        width: 220px;
        border-radius: 50%;
        background: $white;
        overflow: hidden;
        display: block;
        margin: 0 auto;
   }
    p {
        font-size: 1rem;
        color: $white;
        line-height: 1.5em;
        font-weight: $font-weight--bold;
        text-align: center;
        margin: 0 0 1.25rem 0;
        display: block;
   }
}

.Content {
    margin-top: 4em;
    
    @include media('<1024px') {
        //min-height: calc(100vh - 56px);
        margin-top: 3.5em;
        .Home {
            header {
                &.hero {
                    //padding-top: 2.25rem !important;
               }
           }
       }
   }
    .Homepage & {}
    .Blogpage & {
        margin-top: 0;
   }
    .Home {
        header {
            &.hero {
                -webkit-transition: background 200ms ease-in-out;
                transition: background 200ms ease-in-out;
                background: #323232;
                overflow: hidden;
                position: relative;
                text-align: left;
                padding: 0;
                height: 622px;
                border-bottom: solid 1px #e9f0f3;
                #hero-initial {
                    height: 622px;
                    display: flex;
                    align-items: center;
                    .hero-welcome {
                        @extend %hero-img;
                   }
               }
           }
            h1,
            .heading {
                text-align: center;
                @include text(46px, 1.5);
                margin-bottom: 30px;
                font-weight: 300;
                @include media('<=1126px') {
                    @include text(30px);
                    line-height: 1.2;
                    margin-bottom: 20px;
                    padding-bottom: 0;
               }
                @include media('<=324px') {
                    @include text(24px);
               }
           }
            h1,
            .subheading {
                text-align: center;
                opacity: 0;
                -webkit-animation: opacity_change 500ms 1000ms ease-in forwards;
                animation: opacity_change 500ms 1000ms ease-in forwards;
                text-align: left;
                color: $white !important;
           }
            h2.subheading {
                text-align: center;
                @include text(18px, null, 400, $text-color--secondary);
                margin-bottom: 13px;
                font-family: $font-family--primary;
                @include media('<=740px') {
                    font-size: 16px;
               }
           }
       }
        .ipsf-global {
            @extend %centered;
            .visit {
                background: $color-accent;
                color: $white;
                border-radius: 0 !important;
                transform: all .1s ease-in;
                cursor: auto;
                -webkit-animation: pulse_card 500ms 1000ms ease-in forwards;
                animation: pulse_card 500ms 1000ms ease-in forwards;
           }
       }
        .discover-btn {
            background: $color-accent;
            color: $white;
       }
        .row-1 {
            .block-left {
                min-height: 12.5rem;
                background: url('#{$path-img}/left_picture.jpg') 50% 50% no-repeat;
                background-size: cover;
                @include media('>60rem') {
                    display: table-cell;
                    width: 50%;
                    vertical-align: middle;
               }
           }
            .block-middle {
                @include media('>60rem') {
                    display: table-cell;
                    width: 25%;
                    vertical-align: middle;
               }
                .quote {
                    overflow: hidden;
                    padding: 3em;
               }
                h3 {
                    @extend %resetHeaders;
                    &:before {
                        content: "";
                        background: url('#{$path-img}/quotes.png') no-repeat left center;
                        background-size: contain;
                        position: absolute;
                        width: 3.125rem;
                        height: 2.5rem;
                        @include media('<=60rem') {
                            width: 36px;
                            height: 28px;
                       }
                   }
                    @include media('>60rem') {
                        font-size: 2rem;
                   }
                    em {
                        padding-top: 2em;
                        display: block;
                        span:nth-of-type(1) {
                            color: $white;
                            font-weight: 300;
                            line-height: 1.3;
                            @include media('>60rem') {
                                font-size: 2rem;
                           }
                       }
                        span:nth-of-type(2) {
                            display: block;
                            font-size: 72%;
                            margin-top: 0.625rem;
                            font-weight: 800;
                            color: #efefef;
                            font-style: normal;
                       }
                   }
               }
           }
            .block-left,
            .block-middle,
            .block-right {
                border: none;
           }
            .block-right {
                background: url('#{$path-img}/right_picture.jpg') 50% 50% no-repeat;
                background-size: cover;
                min-height: 200px;
                @include media('>60rem') {
                    display: table-cell;
                    width: 25%;
                    vertical-align: middle;
               }
           }
       }
        .row-2 {
            .block-left {
                @include media('>60rem') {
                    display: table-cell;
                    width: 25%;
                    vertical-align: middle;
               }
                .quote {
                    overflow: hidden;
                    padding: 3em;
               }
                h3 {
                    @extend %resetHeaders;
                    &:before {
                        content: "";
                        background: url('#{$path-img}/quotes.png') no-repeat left center;
                        background-size: contain;
                        position: absolute;
                        width: 3.125rem;
                        height: 2.5rem;
                        @include media('<=60rem') {
                            width: 36px;
                            height: 28px;
                       }
                   }
                    @include media('>60rem') {
                        font-size: 2rem;
                   }
                    em {
                        padding-top: 2em;
                        display: block;
                        span:nth-of-type(1) {
                            color: $white;
                            font-weight: 300;
                            line-height: 1.3;
                            @include media('>60rem') {
                                font-size: 2rem;
                           }
                       }
                        span:nth-of-type(2) {
                            display: block;
                            font-size: 72%;
                            margin-top: 0.625rem;
                            font-weight: 800;
                            color: #efefef;
                            font-style: normal;
                       }
                   }
               }
           }
            .block-middle {
                min-height: 12.5rem;
                background: url('#{$path-img}/middle_picture.jpg') 50% 50% no-repeat;
                background-size: cover;
                @include media('>60rem') {
                    display: table-cell;
                    width: 50%;
                    vertical-align: middle;
               }
           }
            .block-right {
                @include media('>60rem') {
                    display: table-cell;
                    width: 25%;
                    vertical-align: middle;
               }
                .quote {
                    overflow: hidden;
                    padding: 3em;
               }
                h3 {
                    @extend %resetHeaders;
                    &:before {
                        content: "";
                        background: url('#{$path-img}/quotes.png') no-repeat left center;
                        background-size: contain;
                        position: absolute;
                        width: 3.125rem;
                        height: 2.5rem;
                        @include media('<=60rem') {
                            width: 36px;
                            height: 28px;
                       }
                   }
                    @include media('>60rem') {
                        font-size: 2rem;
                   }
                    em {
                        padding-top: 2em;
                        display: block;
                        span:nth-of-type(1) {
                            color: $white;
                            font-weight: 300;
                            line-height: 1.3;
                            @include media('>60rem') {
                                font-size: 2rem;
                           }
                       }
                        span:nth-of-type(2) {
                            display: block;
                            font-size: 72%;
                            margin-top: 0.625rem;
                            font-weight: 800;
                            color: #efefef;
                            font-style: normal;
                       }
                   }
               }
           }
            .block-left,
            .block-middle,
            .block-right {
                border: none;
           }
       }
   }
}

.AsideLayout {
    max-width: 1200px;
    margin: 0 auto;
}

.AsideLayout__card {
    display: block;
    height: 256px;
    width: 320px;
    margin: 0px auto 16px auto;
    @include media('<=760px') {
        width: 100%;
   }
}

.AsideLayout__card-image {
    height: 256px;
    width: 320px;
    margin: 0px auto 16px auto;
    @include media('<=760px') {
        width: 100%;
   }
}

.AsideLayout__card-image-dog {
    height: 320px;
    width: 320px;
    margin: 0px auto 16px auto;
    @include media('<=760px') {
        width: 100%;
   }
}

.newsletter {
    .Blogpage & {
        h1.section-title {
            color: #000;
            font-weight: 800;
            font-size: 36px;
            margin: 12px 0 10px;
            @include media('<=850px') {
                font-size: 30px;
           }
            @include media('<=324px') {
                font-size: 22px;
           }
       }
        .container {
            padding: 0;
       }
        .section-content {
            margin-right: 0;
            margin-left: 0;
       }
   }
    h1.section-title {
        font-size: 36px;
        @include media('<=850px') {
            font-size: 30px;
       }
   }
    .mdl-textfield {
        border: 1px solid $divider-color;
        background: $white;
        width: 500px;
        border-radius: 5px;
        padding: 0;
        margin-bottom: 20px;
        .mdl-textfield__input {
            padding: 15px 20px;
            border: none;
            font-weight: $font-weight--semi-bold;
       }
        .mdl-textfield__label {
            top: 15px;
            left: 20px;
            &:after {
                display: none;
           }
       }
        @include media('<60rem') {
            .mdl-textfield__input {
                padding: 10px;
                font-weight: $font-weight--normal;
           }
            .mdl-textfield__label {
                top: 8px;
                left: 10px;
           }
       }
   }
    .subscribe {
        background: $color-accent;
        color: $white;
   }
}
